.booked-seats{
	-fx-background-color : "grey";
	-fx-background-radius: 20.0;
	-fx-pref-width: 80px;
	-fx-pref-height: 80px;
	-fx-text-fill: "white";
}
.available-seats{
	-fx-background-color : "green";
	-fx-background-radius: 20.0;
	-fx-pref-width: 80px;
	-fx-pref-height: 80px;
	-fx-text-fill: "white";
}
.available-seats:hover{
	-fx-opacity : 0.8;
	-fx-cursor: hand;
}
.selected-seats{
	-fx-background-color : "blue";
}